.alert-info {
    background: skyblue;
    border: 1px solid lightgrey;
    padding: 10px;
}

.nav-links li {
    background: lightgrey;
    margin-bottom: 5px;
    padding: 20px;
}

ul {
    list-style-type: none;
}

li a {
    margin: auto;
    padding: 1em;
    text-align: center;
}

.header-img {
    margin: auto;
}

body {
    text-align: center;
}

section {
    text-align: left;
}

@media screen and (min-width: 992px) {

h1 {
    width: fit-content;
    position: absolute;
    top: 25px;
    font-size: 45px;
    margin: 0;
}
    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        text-align: right;
    }


    .nav-links li {
        background: none;
        padding: 1em;
        display: inline-block;
        margin: 0;

    }

    nav a {
        display: inline-block

    }
    .main{
       float: left;
        margin: auto;
        text-align: left;
        width: 60%;
    }
   .sub-section{
       float: right;
       margin: auto;
       text-align: left;
       width: 40%;



   }
    body{
        margin: 2px
    }


}





