.alert-info {
    background: skyblue;
    border: 1px solid lightgrey;
}

.nav-links li {
    background: lightgrey;
    margin-bottom: 5px;
    width: 100%;
    height: 20px;
;


}
.nav-links {
    width:
    height:

}
ul {
    list-style-type: none;

}

li a{
    margin: auto;
    padding: 1em;
    text-align: center;
}

body{
    text-align: center;
}


}
@media screen and (min-width: 992px) {
.hidden-on-desktop{
    display: none;
}
    .nav-links li {
        background: none;
    }

nav a{
display: inline-block

}

}





